@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities/";

$gray-400: #8E8E8E;
$gray-500: #2A2A2A;
$gray-600: #202020;
$gray-900: #1C1C1C;

$white:   #F1F1F1;
$blue:    #01FFFF;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #D63384;
$red:     #DC3545;
$orange:  #FD7E14;
$yellow:  #FFC107;
$green:   #198754;
$teal:    #20C997;
$cyan:    #0DCAF0;

$primary:       $blue;
$secondary:     $gray-500;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-500;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
  
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue-600: #01FFFF;

$blues: (
  "600" $blue-600
);

$colors: (
  "blue":       $blue-300,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);
  
$body-bg: $gray-900;
$body-color:  $white;

/* TABLE */
$table-color: $white;
$table-bg:    $secondary;
$table-border-color: $body-bg;

/* INPUT */
$input-color:             $white;
$input-placeholder-color: $gray-400;
$input-bg:                $gray-500;
$input-border-color:      $input-bg;
$input-focus-bg:          $input-bg;
$input-plaintext-color:   $white;
$input-focus-color:       $white;

/* LIST GROUP */
$list-group-bg:       $gray-500;
$list-group-color:    $gray-400;
$list-group-hover-bg: $gray-900;

// /* BORDERS */
$border-color: $gray-500;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './styles/shared.scss';

